
<div class="container">
  <h2>CHOOSE SERVICE</h2>
         
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th>SERVICE</th>
        <th>STARTING RATE</th>
        <th>SELECT</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Washing</td>
        <td>2000 </td>
        <td> 
          <label class="switch">
            <input type="checkbox" checked>
            <span class="slider round"></span>
            <span class="absolute-no"></span>
          </label>
        </td>
      </tr>
      <tr>
        <td>Denting</td>
        <td>400 </td>
        <td>
          <label class="switch">
            <input type="checkbox" checked>
            <span class="slider round"></span>
            <span class="absolute-no"></span>
          </label>
        </td>
      </tr>
      <tr>
        <td>Painting</td>
        <td>1000 </td>
        <td>
          <label class="switch">
            <input type="checkbox" checked>
            <span class="slider round"></span>
            <span class="absolute-no"></span>
          </label>
        </td>
      </tr>
      <tr>
        <td>Engine service</td>
        <td>2500</td>
        <td>
          <label class="switch">
            <input type="checkbox" checked>
            <span class="slider round"></span>
            <span class="absolute-no"></span>
          </label>
        </td>
      </tr>
      <tr>
        <td>A/C Repair</td>
        <td>800</td>
        <td>
          <label class="switch">
            <input type="checkbox" checked>
            <span class="slider round"></span>
            <span class="absolute-no"></span>
          </label>
        </td>
      </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-info" onclick="conf()">BOOK NOW</button>
</div>