<!--==========================
     ABOUT
    ============================-->

    <section id="about" class="wow fadeInUp">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 about-img">
              <img src="../assets/REPAIR.png"  height=300 width=300 alt="">
              <br/>
              <h1 class="scrollto"> <b> Dr.<span>Car</span></b></h1>
            </div>
  
            <div class="col-lg-6 content">
              <h2>The Dr.CAR services </h2>
              <h3>We beleive in doing the finest work . we care for your car as you do.
                  Get you car service done anywhere , anytime. Be at ease because we are here for you.
              </h3>
  
              <ul>
                <li><i class="ion-android-checkmark-circle"></i> One touch to book your services.</li>
                <li><i class="ion-android-checkmark-circle"></i> Get your nearest service station details.</li>
                <li><i class="ion-android-checkmark-circle"></i> Exciting offers and discounts are available here.</li>
              </ul>
  
            </div>
          </div>
  
        </div>
      </section><!-- #about -->
      <!--services-->
      <section id="services">
        <div class="container">
          <div class="section-header">
            <h2>Services</h2>
            <p>Select the one of the services define below </p>
              <ul>
                <li>WASH THE CAR and let it be shine.</li>
                <li>Tune-up Your engine to get maximum performance.</li>
                <li>give you car a new Look by PAINTING.</li>
                <li>For other services.</li>
              </ul>
          </div>
      
          <div class="row">
      
            <div class="col-lg-6">
              <div class="box wow fadeInLeft">
                <div class="icon"><img src="../assets/services/WASHING.jpg" ></div>
                <h4 class="title">WASHING</h4> 
                <p class="description"></p>
              </div>
            </div>
      
            <div class="col-lg-6">
              <div class="box wow fadeInRight">
                <div class="icon"><img src="../assets/Logo.png"></div>
                <h4 class="title">ENGINE SERVICE</h4>
                <p class="description"></p>
              </div>
            </div>
      
            <div class="col-lg-6">
              <div class="box wow fadeInLeft" data-wow-delay="0.2s">
                <div class="icon"><img src="../assets/services/DENT.jpg"></div>
                <h4 class="title">DENTING and PAINTING</h4>
                <p class="description"></p>
              </div>
            </div>
           
            <div class="col-lg-6">
              <div class="box wow fadeInRight" data-wow-delay="0.2s">
                <div class="icon"><img src="../assets/services/CAR%20SERVICE%20LOGO.png"></div>
                <h4 class="title">Other Services</h4>
                <p class="description"></p>
              </div>
            </div>
      
          </div>
      
        </div>
      </section>
  
